<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWh9Al-Jc3ppoBaJvbBjGcXqNURmLW-C0</string>
	<key>GCM_SENDER_ID</key>
	<string>423526810613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPractice</string>
	<key>PROJECT_ID</key>
	<string>cloud-firestore-6a6e4</string>
	<key>STORAGE_BUCKET</key>
	<string>cloud-firestore-6a6e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423526810613:ios:7f30214d639818697956bc</string>
</dict>
</plist>